body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

header{
    background-color: white;
    height: 100px;
    border-radius: 0 0 15px 15px;
    box-shadow: 0 0 30px 0px #0057ff;
}

.logo{
    width: 150px;
    margin: 20px 20px 20px 20px;
}

.title{
    text-align: center;
    color: #134077
}

.login{
    display: flex;
    justify-content: center;
    margin: 20px

}

.login form{
    display: flex;
    flex-direction: column;
    width: 400px;
    background-color: white;
    padding: 20px;
    border: 1px solid #134077;
    border-radius: 10px;
}

.login label{
    margin-bottom: 10px;
}

.login input{
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    outline: none;
}

#submit{
    background-color: #0057ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
}

button{
    background-color: #0057ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}

button a{
    text-decoration: none;
    color: white;
}

.my_button{
    text-align: center;
}

.my_button a{
    color: #134077;
}

/* Personal events */
.container{
    text-align: center;
}

.container h2{
    color:#134077;
}

.card_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background-color: white;
    padding: 5px;
    border: 1px solid #134077;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    margin: 20px;
}

.card p{
    color: gray;
}

.card button{
    width: 150px;
}

.btn_logout{
    background-color: #134077;
    width: 200px;
    margin-top: 100px;
}